<app-navbar ></app-navbar>
<div class="body"  >
   <app-menu></app-menu>
    <div class="table_show">
            <div class="header_content">
                <label>Quản Lý Kiểu Đánh Giá</label>
            </div>  
            <div class="tool">
                <div class="box-search">
                    <label>Tìm Kiếm </label> <input class="search" type="text" [(ngModel)]="sreach" (ngModelChange)="Search();" placeholder="vui long search">
                </div>
                <div class="toolss"> 
                    <button mat-fab color="primary" (click)="deleteKieuDanhGia()" > <fa-icon [icon]="faTrash"></fa-icon></button>
                    <button mat-fab (click)="addKieuDanhGia(!exittable);" class="add"><fa-icon [icon]="faPlus"></fa-icon></button>
                </div>
            </div>
            <table class="list-table" border="1" cellspacing="0" cellpadding="5">
                <thead>
                    <tr>  
                        <th  width="1%"><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
                        <th width="1%"(click)="sort('i')">STT&nbsp; <fa-icon [icon]="faSort"></fa-icon></th>
                        <th  width="15%"(click)="sort('id')">Mã Kiểu Đánh Giá &nbsp;   <fa-icon [icon]="faSort"></fa-icon></th>
                        <th  width="15%"(click)="sort('tenKieuDanhGia')">Tên Kiểu Đánh giá &nbsp;   <fa-icon [icon]="faSort"></fa-icon></th>
                        <th width="1%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let KieuDanhGiaarr of KieuDanhGia | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p}; let i=index;" >
                        <td><input type="checkbox" value="{{KieuDanhGiaarr.id}}" [(ngModel)]="KieuDanhGia[i].checked"></td>
                        <td>{{(i+1)}}</td>
                        <td>{{KieuDanhGiaarr.id}}</td>
                        <td>{{KieuDanhGiaarr.tenKieuDanhGia}}</td>  
                        <td (click)="openupdate(KieuDanhGiaarr.id);"><fa-icon [icon]="faPencil"></fa-icon></td>
                    </tr>
                </tbody>
                <tfoot>
                    <td colspan="10">
                            <pagination-controls (pageChange)="p =$event"></pagination-controls>
                    </td>
                </tfoot>
                
            </table>
    </div>
</div>
<app-add-kieudanhgia></app-add-kieudanhgia>