<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<diV class="star-button">
    <div class="over-star">
        <label class="text">{{tenDanhGia}}</label>
        <form >
        <div class="button">
            <input [(ngModel)]="ketQuaDanhGia"  type="radio" id="star5" name="rate" value="5"  /> 
            <label  for="star5" >  <mat-icon   fontIcon="star"></mat-icon></label>
            <!-- <mat-icon for="star5" (click)="star(1)" fontIcon="star_border"></mat-icon> -->
            <input  [(ngModel)]="ketQuaDanhGia"  type="radio"  id="star4" name="rate" value="4" /> 
            <label  for="star4" >  <mat-icon  fontIcon="star"></mat-icon></label>
            <!-- <mat-icon  for="star4" (click)="star(2)" fontIcon="star_border"></mat-icon> -->
            <input type="radio" [(ngModel)]="ketQuaDanhGia" id="star3" name="rate" value="3" /> 
            <label  for="star3" ><mat-icon  fontIcon="star"></mat-icon></label>
            <!-- <mat-icon  for="star3" (click)="star(3)" fontIcon="star_border"></mat-icon> -->
            <input type="radio" [(ngModel)]="ketQuaDanhGia" id="star2" name="rate" value="2" /> 
            <label  for="star2" ><mat-icon  fontIcon="star"></mat-icon></label>
            <!-- <mat-icon for="star2" (click)="star(4)" fontIcon="star_border"></mat-icon> -->
            <input type="radio" [(ngModel)]="ketQuaDanhGia" id="star1" name="rate" value="1" /> 
            <label  for="star1"  ><mat-icon  fontIcon="star"></mat-icon></label>
        </div>
        </form>
        
    </div>
</diV>

